.check-form{
  display: flex;
  justify-content: space-between;
}
.check-form div{
  display: flex;
  justify-content: baseline;
}
.check-form button{
  background-color: transparent;
  border: none;
  font-size:clamp(1.5rem,2vw,1.6rem)
}
.check-form button:hover{
  background-color: rgba(255,255,255,.6);
  cursor: pointer;
  transition: .2s;
  border-radius: 2px;
}
.check-form div input[type="checkbox"]{
    transition: .2s;
    background-color: transparent;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: -3px -2px 1px 1px black;
  }
  .check-form div input[type="checkbox"]:hover{
    transition: .2s;
    box-shadow: 3px 2px 1px 1px black;
    cursor: pointer;
  }
  .check-form div input[type="checkbox"]:checked{
    background-color: #333;
    border: 2px solid #fff;
    border-radius: 4px;
    box-shadow: 3px 2px 1px 1px var(--border-color);
  }
  .check-form div{
    width: 100%;
  }
  .check-form div label{
    margin-left: .5rem;
    cursor: pointer;
    font-weight: 500;
    width: 100%;
  }

  .check-form div label:hover{
    background-color: rgba(255,255,255,.6);
    border-radius: 2px;
    padding:.3rem .3rem 0 .3rem;
  }