.add-task{
    height: (2vw,3vw,5vw);
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .add-task:focus-within{
    transition: .2s;
    background-color: rgba(0,0,0,.2);
    border-radius: 2px;
  }
  .add-task:focus-within input{
    transition: .2s;
    border: none;
    font-size: 1.4rem;
  }
  .add-task:focus-within input:hover{
    box-shadow: none;
  }
  .add-task:focus-within button{
    transition: .2s;
    border-left: 2px solid black;
  }
  .add-task input{
    transition: .2s;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid rgba(0,0,0,.8);
    color: #fff;
    width: 80%;
    font-size: 1rem;
  }
  .add-task input:hover{
    box-shadow: 1px 1px 10px 1px black;
    cursor: pointer;
  }
  .add-task button{
    transition: .2s;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 700;
    width: 20%;
    background-color:  rgba(255,255,255,.5);
  }
  
  .add-task button:hover{
    transition: .2s;
    cursor: pointer;
    background-color: #fff;
    border-radius: 2px;
  }


  main .list .list-tasks{
    background-color:rgba(0,0,0,.1);
    max-height: 30vh;
    margin-bottom: 1rem;
  }
  .scroll{
    overflow-y: scroll;
  }
  .list .scroll::-webkit-scrollbar{
    width: 10px;
  }
  .list .scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  .list .scroll::-webkit-scrollbar-thumb {
    background: #888;
  }
  .list .scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}

