

--root{
  --border-color:black;
}
*{
  box-sizing: border-box;
}
body {
  height: 95vh;
  background: url("./img/brandi-redd-aJTiW00qqtI-unsplash.jpg") no-repeat center center/cover;
  background-color: #303030;
  margin:1rem 1rem 0 1rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
